# Imports

In [1]:
import os
import numpy as np
import pandas as pd

# Explore the data

## Read data

In [2]:
data_folder = os.path.join('..', 'data')

In [17]:
df = pd.read_csv(os.path.join(data_folder, 'sensor.csv'))

In [18]:
df.shape

(220320, 55)

In [19]:
df.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

## Set data index

In [20]:
df.index = pd.to_datetime(df.timestamp)
df.drop(['Unnamed: 0', 'timestamp'], axis=1, inplace=True)

In [30]:
print(f'Sample freq std: {(df.index[1:] - df.index[:-1]).std()}')
print(f'Sample freq mean: {(df.index[1:] - df.index[:-1]).mean()}')

Sample freq std: 0 days 00:00:00
Sample freq mean: 0 days 00:01:00

We can see that the sensors are measured in constants frequancy of 1sample/min

In [31]:
df.isnull().mean()

sensor_00         0.046333
sensor_01         0.001675
sensor_02         0.000086
sensor_03         0.000086
sensor_04         0.000086
sensor_05         0.000086
sensor_06         0.021777
sensor_07         0.024741
sensor_08         0.023180
sensor_09         0.020856
sensor_10         0.000086
sensor_11         0.000086
sensor_12         0.000086
sensor_13         0.000086
sensor_14         0.000095
sensor_15         1.000000
sensor_16         0.000141
sensor_17         0.000209
sensor_18         0.000209
sensor_19         0.000073
sensor_20         0.000073
sensor_21         0.000073
sensor_22         0.000186
sensor_23         0.000073
sensor_24         0.000073
sensor_25         0.000163
sensor_26         0.000091
sensor_27         0.000073
sensor_28         0.000073
sensor_29         0.000327
sensor_30         0.001185
sensor_31         0.000073
sensor_32         0.000309
sensor_33         0.000073
sensor_34         0.000073
sensor_35         0.000073
sensor_36         0.000073
sensor_37         0.000073
sensor_38         0.000123
sensor_39         0.000123
sensor_40         0.000123
sensor_41         0.000123
sensor_42         0.000123
sensor_43         0.000123
sensor_44         0.000123
sensor_45         0.000123
sensor_46         0.000123
sensor_47         0.000123
sensor_48         0.000123
sensor_49         0.000123
sensor_50         0.349569
sensor_51         0.069821
machine_status    0.000000
dtype: float64